/*Estilização de tags gerais*/
*{
	background-color: #262626; 
	font-family: Arial;
	color: #fff;
	margin: 0;
}
main{
	position: relative;
	top: 20px;
	padding-bottom: 10%;
}
a{
	text-decoration: none;
	color: #75DE77;
}
p{
	color: #fff;
	text-align: justify;
	padding-bottom: 2%;
}
/*Estilização da barra de navegação*/
.barra{
	overflow: hidden;
	background-color: black;
	position: sticky;
	width: 100%;
	top: 0;
	height: 110px;
	z-index: 1;
}
.barra a{
	position: absolute;
	color: #75DE77;
	font-size: 1.5em;
	background-color: transparent;
}
.barra a:hover{
	color: #fff;
}
#historiaTI{
	top: 5px;
	right: 125px;
}
#historiaHQ{
	top: 5px;
	right: 50px;
}
#logo{
	position: absolute;
	width: 90px;
	left: 10px;
	background-color: transparent;
}
/*Estilização do conteúdo principal da página*/
.container {
	width: 90%;
	margin: 0 auto;
}
.container h1{
	margin-bottom: 3%;
	margin-top: 1%;
	color: #75DE77;
}
.container h3{
	color: #75DE77;
}
.inicio{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}
.container .inicio .imagem{
	width: 40%;
	height: 250px;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 3%;
	background-size: 100% 100%;
}
.container .inicio .texto{
	width: 100%;
	margin: 0 auto;
}
.container li{
	color: #fff;
	list-style: none;
}
.container a{
	text-decoration: none;
}
.container img{
	width: 400px;
	height: 250px;
	padding-right: 2%;
	padding-bottom: 3%;
	float: left;
}

/*Estilização do slide*/
#slide{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	z-index: 0;
	margin-bottom: 2%;
}
#slide ul{
	width: 75%;
	padding: 0;
	margin: 0 auto;
	z-index: 0;
	list-style: none;
}
#slide .li{
	width: 100%;
}
.container #slide .imagem2{
	height: 300px;
	z-index: 0;
	border-radius: 5px;
	background-size: 100% 100%;
}
/*Estilização do rodapé*/
.rodape{
	height: 150px;
	text-align: center;
}
.rodape p{
	text-align: center;
}
.rodape img{
	height: 15%;
}